<!DOCTYPE html>
<html>
  <head>
    <title>Password Generator</title>
  </head>
  <body>
    <h1>Password Generator</h1>
    <h3>Min size: 12 chars</h3>
    <h3>Max size: 24 chars</h3>

    <form action="/generate_passwords" method="POST">
      <input type="submit" value="Generate Passwords">
    </form>

    {% if passwords %}
    <h2>Generated Passwords:</h2>
    <ul>
      {% for password in passwords %}
      <li>{{ password }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>