<!DOCTYPE html>
<html>
<head>
    <title>UDP Port Tester - Results</title>
</head>
<body>
    <h1>UDP Port Tester - Results</h1>
    <h3>Host: {{ host }}</h3>
    <table>
        <tr>
            <th>Port</th>
            <th>Status</th>
        </tr>
        {% for result in results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>