<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Weather App</h1>
    <form method="POST" action="/">
        <label for="city">Enter city name:</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Get Weather</button>
    </form>

    {% if weather %}
    <h2>Weather in {{ weather.city }}:</h2>
    <p>Temperature: {{ weather.temperature }}°C</p>
    <p>Humidity: {{ weather.humidity }}%</p>
    <p>Description: {{ weather.description }}</p>
    {% endif %}
</body>
</html>
