<!DOCTYPE html>
<html>
<head>
    <title>TCP Port Checker</title>
</head>
<body>
    <h1>TCP Port Checker</h1>
    <form method="POST" action="/">
        <label for="hostname">Hostname:</label>
        <input type="text" name="hostname" id="hostname" required>
        <br>
        <label for="port">Port:</label>
        <input type="number" name="port" id="port" required>
        <br>
        <input type="submit" value="Check Port">
    </form>
    {% if result %}
    <p>{{ result }}</p>
    {% endif %}
</body>
</html>