<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
</head>
<body>
    <h1>Password Generator</h1>
    <form action="/generate" method="post">
        <label for="length">Password Length (minimum 12):</label>
        <input type="number" id="length" name="length" min="12" required>
        <br>
        <input type="submit" value="Generate Password">
    </form>
    {% if password %}
        <h2>Generated Password:</h2>
        <p>{{ password }}</p>
    {% endif %}
    {% if error %}
        <h2>Error:</h2>
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>