<!-- myapp/templates/myapp/article_list.html -->
{% for article in articles %}
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <p>Author: {{ article.author.username }}</p>
    <hr>
{% endfor %}

