<!-- myapp/templates/myapp/article_form.html -->
<form method="POST" action="{% url 'article_create' %}">
    {% csrf_token %}
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" required></textarea><br><br>
    <input type="submit" value="Submit">
</form>

